.property-list {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url('../assest/big-city.jpg'); /* Specify the path to your image */
    background-size: cover;
    background-position: center;
}

/* Rest of your existing styles */
.property-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.property-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.property-image {
    width: 370px;
    width: 370px;
}

.property-details {
    padding: 20px;
}

.navbar {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navbar .form-group {
    margin-right: 10px;
}

.navbar .form-control {
    width: auto;
}

.navbar .form-group {
    display: inline-block;
    margin-right: 10px;
}

.navbar .form-control {
    width: auto;
    display: inline-block;
}

@media screen and (min-width: 1200px) {
    .property-cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 1199px) {
    .property-cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
